<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <Shelvance__Postgres__Host>192.168.100.5</Shelvance__Postgres__Host>
			<Shelvance__Postgres__Port>5432</Shelvance__Postgres__Port>
			<Shelvance__Postgres__User>abc</Shelvance__Postgres__User>
			<Shelvance__Postgres__Password>abc</Shelvance__Postgres__Password>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>
